
$sidebar-width: 250px;
$sidebar-color: #000000;
$highlight-color: #123db3;
$sidebar-bg-color: #e1e1ea;
$submenu-bg-color:  #ffffff !default;
$icon-bg-color:  #ffffff;
$submenu-bg-color-collapsed: #2b2b2b !default;
@import '~react-pro-sidebar/dist/scss/styles.scss'